<div class="container mt-4">
  <button class="btn btn-danger mb-3" (click)="goBack()">
    ← Go Back
  </button>
  <h2 class="text-center mb-4">List of Bikes</h2>

  <div *ngIf="loading" class="text-center">
    <div class="spinner-border text-primary" role="status"></div>
  </div>

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Search bikes..." [(ngModel)]="searchTerm"/>
  </div>

  <table *ngIf="!loading && bikes.length" class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
         <th (click)="sort('bikeId')">
            Bike Id
            <span *ngIf="sortColumn === 'bikeId'">
              {{ sortDirection === 'asc' ? '↑' : '↓' }}
            </span>
          </th>
        <th (click)="sort('modelName')">
          Model Name
          <span *ngIf="sortColumn === 'modelName'">
            {{ sortDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th (click)="sort('manufacturer')">
          Manufacturer
          <span *ngIf="sortColumn === 'manufacturer'">
            {{ sortDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th (click)="sort('modelYear')">
          Model Year
          <span *ngIf="sortColumn === 'modelYear'">
            {{ sortDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th (click)="sort('engineCc')">
          Engine CC
          <span *ngIf="sortColumn === 'engineCc'">
            {{ sortDirection === 'asc' ? '↑' : '↓' }}
          </span>
        </th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bike of filteredBikes">
        <td>{{ bike.bikeId }}</td>
        <td>{{ bike.modelName }}</td>
        <td>{{ bike.manufacturer || 'N/A' }}</td>
        <td>{{ bike.modelYear || 'N/A' }}</td>
        <td>{{ bike.engineCc || 'N/A' }}</td>
        <td>
          <button class="btn btn-info btn-sm" [routerLink]="['/bikes/details', bike.bikeId]">
            Details
          </button>
          <button id="deleteBtn" class="btn btn-danger btn-sm" (click)="deleteBike(bike.bikeId)">
            Delete
          </button>
          <button class="btn btn-primary btn-sm" [routerLink]="['/bikes/edit', bike.bikeId]">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- No records message -->
  <div *ngIf="!loading && bikes.length === 0" class="text-center text-muted">
    No bike records found.
  </div>
</div>
