<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/">BikeBase</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dealers">Dealers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bikes">Bikes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/deliveries">Deliveries</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item dropdown" *ngIf="isLoggedIn()">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            {{ getRole() }} <!-- ▼ -->
          </a>
          <ul class="dropdown-menu dropdown-menu-end shadow-lg rounded-3 p-2" style="min-width: 220px;">
            <li class="px-3 py-2 fw-semibold text-primary border-bottom">
              Welcome, <span class="text-dark">{{ username }}</span>!
            </li>
            <li>
              <a class="dropdown-item text-danger fw-semibold d-flex align-items-center gap-2" (click)="logout()">
               Logout
              </a>
            </li>
          </ul>
          <!-- <ul class="dropdown-menu dropdown-menu-end">
            <li class="px-3 py-2 fw-semibold text-primary border-bottom">
              Welcome, <span class="text-dark">{{ username }}</span>!
            </li>
            <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
          </ul> -->
        </li>
      </ul>
    </div>
  </div>
</nav>
