<div class="form-container">
  <h2>Add New Bike</h2>
  <form [formGroup]="bikeForm" (ngSubmit)="onSubmit()">
    <label>Model Name</label>
    <input formControlName="modelName" />

    <label>Model Year</label>
    <input type="number" formControlName="modelYear" />

    <label>Engine CC</label>
    <input type="number" formControlName="engineCc" />

    <label>Manufacturer</label>
    <input formControlName="manufacturer" />

    <button type="submit" id="submitBtn">Submit</button><br><br>
    <button class="btn btn-danger mb-3" (click)="goBack()">
      ← Go Back
    </button>
  </form>
</div>
